<div class="container">
  <div class="row">
    <div class="col-6 offset-4">
      <button (click)="toggle()">Clique ici enfoirée</button>
      <div #ici *ngIf="show">
        Voila la surprise du chef Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Qui sint fuga cumque aut nemo earum, voluptate,
        aspernatur illum incidunt nam saepe, doloribus nisi perspiciatis nobis
        et quo quisquam molestiae esse! Veniam eum, nisi illo minima blanditiis
        reprehenderit porro autem voluptate tempora consectetur quam molestiae
        fugit et explicabo maiores alias, recusandae maxime amet culpa odit
        tenetur illum? Repudiandae non suscipit corrupti. Amet, qui impedit
        aliquid optio, enim a, cumque dolorem labore iusto rem architecto sunt
        assumenda recusandae. Facilis voluptate porro asperiores qui quis
        veritatis, sit a consequatur esse accusamus, vero commodi! Et aut fugit
        magnam culpa exercitationem eius id cum veritatis esse odio harum ullam,
        vero reiciendis expedita atque debitis voluptas. Itaque tenetur culpa in
        esse perspiciatis porro sint saepe dicta! Nihil, inventore
        exercitationem aspernatur vitae officia delectus amet quo placeat error
        eius, corporis doloremque itaque repudiandae, distinctio sed est
        laudantium nisi vero facilis accusamus asperiores ullam qui expedita
        harum. Natus? Magni earum sequi necessitatibus veniam optio alias
        consequuntur, qui pariatur facilis ad eveniet sapiente nisi voluptatum
        dignissimos impedit, aliquid voluptate ea similique. Laudantium
        asperiores dolorem praesentium deserunt veniam libero sapiente.
        Recusandae a facilis consequatur distinctio fugit, ratione repellendus
        quas pariatur animi iste aspernatur minima quidem neque illo voluptatum
        iusto explicabo cupiditate cumque mollitia nemo laboriosam quod
        obcaecati hic. Suscipit, provident. Voluptate recusandae voluptas vel
        corporis beatae, officia natus praesentium consectetur, blanditiis optio
        et esse accusamus sequi! Tenetur nihil illum reiciendis nobis suscipit
        cumque amet repellendus. Mollitia ducimus vitae id qui. Odit itaque
        voluptates at placeat mollitia officiis in illum dolor! Et id nesciunt
        aperiam tenetur nostrum mollitia sapiente porro itaque quibusdam ut
        necessitatibus culpa omnis veritatis hic, ipsa ullam dolores. Molestiae,
        rem dicta. Eius nostrum nihil nesciunt, dolorum distinctio recusandae ea
        ut magnam voluptate, ex qui, maxime suscipit repellendus sint unde est?
        Iusto nemo consequuntur voluptatem quia repudiandae ducimus. Cum. Iusto,
        provident. Ex mollitia voluptas vero provident iste reprehenderit eos
        exercitationem fuga molestias quo, modi atque ipsa? Cupiditate,
        consequuntur quia quibusdam similique alias hic laborum harum.
        Necessitatibus, porro voluptatem. Cumque. Provident in voluptates
        consequuntur doloremque nulla blanditiis vel, dolorum enim porro autem
        ducimus veritatis, repudiandae quidem labore amet pariatur tempora
        suscipit ex impedit facere at praesentium quae quia nostrum. Temporibus!
        Necessitatibus, corporis consectetur. A pariatur corrupti hic aperiam
        facilis iusto eaque soluta, tempore exercitationem quia ad dolor,
        laudantium porro est id at, voluptatem obcaecati expedita ratione!
        Consequatur beatae repellendus nam? Officiis impedit quae veritatis
        repellat velit illo dolorem! Minima, alias sapiente perferendis enim
        deleniti sequi magnam harum, architecto soluta vero laudantium ipsum cum
        vitae nostrum labore adipisci tempore! Illo, iste. Soluta provident
        placeat libero aperiam sapiente dignissimos, aliquam voluptatibus esse
        culpa consectetur ad impedit consequatur error optio, eos autem pariatur
        natus. Voluptates perspiciatis aspernatur aperiam ad atque dolorum
        nesciunt dolorem. Ea esse hic unde voluptatum laboriosam sit quasi
        suscipit labore repudiandae rerum ad, illum ducimus tenetur magnam
        commodi quia veniam! Non magnam laudantium numquam est nostrum adipisci
        iure rerum corrupti! Ut, amet veniam iste optio nihil aperiam molestias
        animi officiis eligendi voluptas, corporis doloribus fugiat. Maiores,
        repudiandae! Quas nam qui ducimus culpa nobis similique possimus
        molestias doloribus vitae. Voluptatum, quos? Aliquam esse culpa,
        doloribus eaque modi deserunt aliquid quaerat totam libero, magni quasi
        cumque perspiciatis distinctio eos, tenetur accusamus. Earum repellat
        magnam dolor facere officia assumenda facilis nisi voluptas eius. Non,
        velit? Consectetur harum officia expedita, mollitia facere ipsum quasi
        doloribus amet cum delectus corporis animi cupiditate dolore enim
        recusandae atque vitae, illum ducimus voluptatibus. Quis quia nesciunt
        repellendus sapiente! Repudiandae molestiae temporibus ipsa, omnis
        nostrum odit laboriosam asperiores harum modi dignissimos at enim cum.
        Ducimus rem tempora aliquam, saepe ab nam veritatis nemo officiis
        adipisci fugit assumenda minus obcaecati. Labore quas necessitatibus
        voluptatem provident fuga dolore tempora recusandae fugit expedita eius,
        dolorem odit consectetur libero nobis eaque dolor at reiciendis iure,
        beatae hic, odio blanditiis quasi! Quidem, fugit voluptatibus! Cum
        voluptates ratione illum, adipisci fuga qui recusandae cupiditate
        aperiam ad quisquam laboriosam dicta deserunt excepturi autem, vero
        commodi accusantium iste, nemo nihil libero deleniti cumque quia maxime.
        Nihil, eligendi. Quisquam dicta eaque doloremque ipsa placeat. Adipisci
        eligendi sunt ratione? Dolorum accusamus adipisci, maiores quam officia
        aliquam repellendus, maxime dolores dolore, asperiores fugit consectetur
        eos corrupti quae expedita voluptas exercitationem! Excepturi magnam
        tempora repudiandae nihil consequatur. Dignissimos sapiente atque nemo?
        Cumque temporibus quod nam voluptatem non rem officia iusto dolores
        repellendus. Quae, sunt? Esse, nobis. Officia consequatur quia maxime
        sed? Incidunt impedit, earum nostrum harum dignissimos accusantium
        exercitationem ut at neque natus, vitae amet cumque dolorem modi
        voluptate officiis ab consequuntur, ipsam doloribus recusandae eaque.
        Esse voluptas ullam aliquam illum. Quod amet similique, obcaecati earum
        a esse incidunt sit, reprehenderit tenetur nihil laudantium illo
        distinctio necessitatibus laborum. Soluta nihil consectetur harum fugit
        asperiores perferendis, excepturi adipisci, quidem non, quae odio. Quo,
        accusantium quas! Excepturi dolores deserunt atque harum amet facilis
        soluta obcaecati nihil sunt porro autem perspiciatis eveniet consectetur
        temporibus odit, voluptatum officiis reiciendis sint vitae tempora,
        optio molestiae. Aperiam! Accusantium dolore eligendi dicta repellat,
        nisi fugiat culpa expedita ipsam quae? Reprehenderit obcaecati libero
        accusamus facere excepturi hic veniam maiores doloribus quaerat
        nesciunt, perspiciatis amet placeat nam sit quibusdam numquam! Quam
        reiciendis, in provident obcaecati sunt iure quibusdam nulla voluptatum
        dignissimos minima non? Earum, porro? Mollitia, rem cumque. Unde saepe
        quod ipsam amet deserunt ut tenetur repellendus. Sapiente, aut nobis.
        Assumenda doloribus ad quod veniam modi explicabo ex, odio quae vel iste
        dolorem illum. Cupiditate excepturi, iusto aperiam tenetur, officia
        alias repellendus iste, mollitia debitis amet fugiat vel voluptas
        quibusdam. Aliquam assumenda nesciunt doloremque aut autem? Sit
        incidunt, exercitationem quisquam laudantium amet, delectus quaerat
        aspernatur totam voluptatibus dicta et. Ex, totam. Iusto ratione,
        facilis dolores ipsa quibusdam pariatur dicta voluptas! Ex eligendi
        minima ut debitis voluptatem voluptas commodi ducimus consequatur
        incidunt velit totam soluta in aliquid harum at numquam aspernatur
        animi, aut amet fuga accusantium dolore expedita dicta ratione? Esse!
        Atque sequi earum iusto? Illum quos neque excepturi fuga perferendis
        natus vel aliquam dicta totam ipsam aliquid, facilis blanditiis numquam
        porro obcaecati enim magni. Pariatur illo nemo assumenda maiores culpa.
        Exercitationem blanditiis facere, soluta quisquam adipisci excepturi
        perferendis officia omnis saepe asperiores corrupti nobis, vitae impedit
        cumque, pariatur veniam aperiam. Impedit ipsa aliquam dolore odit libero
        ea, quidem omnis sapiente. Iste magni mollitia maiores itaque sunt
        corrupti, facere error, molestiae nobis qui hic pariatur dignissimos
        distinctio repudiandae nostrum cum, totam libero. Officia harum dolorum
        fugiat voluptatum adipisci rem pariatur beatae? Quam molestiae sunt
        architecto aperiam quaerat ullam et voluptatum iste possimus nam, a odit
        vero aliquid illum ipsum ab natus expedita harum accusantium rerum minus
        dolores earum? Deleniti, eaque officiis! Tempore, ipsum illo? Molestias
        facilis odit itaque asperiores magnam placeat fugiat labore
        reprehenderit, voluptates tenetur esse dicta sunt aliquam vitae quis
        magni ipsum unde illo reiciendis sed suscipit. Reprehenderit, natus.
        Consequuntur laudantium voluptas velit repellat quos facilis rerum
        aliquam quasi consequatur, minima, dolor at excepturi vero officia omnis
        natus totam quaerat est nulla. Laudantium vero deleniti quae libero,
        voluptatibus similique. Impedit ullam atque quaerat ab voluptas, sint
        natus sapiente neque necessitatibus qui expedita dolor soluta velit ea
        dolore nam in ducimus eligendi. Itaque harum illum velit aliquid libero
        nobis consectetur! Placeat quos inventore, quaerat aperiam ea qui, unde
        nulla ipsa sint nemo perferendis excepturi quisquam voluptate. Tempore
        quaerat harum repudiandae cumque distinctio, incidunt dolorem nesciunt,
        sapiente, magni ab reiciendis ipsam? Quis quia dolore quo, deserunt eum
        minus aliquid quisquam quae magni iure ab nostrum fugiat eos corporis
        excepturi? Iusto amet maiores suscipit qui delectus vero distinctio enim
        rerum, vitae accusantium. Saepe dolorem veritatis fugit autem ducimus
        voluptatum eum exercitationem culpa mollitia ex, veniam alias ipsum
        asperiores sapiente incidunt in, eos, inventore tempora eveniet
        voluptatibus accusamus. Enim vel sapiente ea voluptatem? Minus provident
        id ut in. Aliquid quidem libero accusamus consequatur, ratione deserunt
        voluptates at perferendis assumenda cum, dolore placeat illum? Ea,
        placeat maiores. Voluptates dignissimos illo recusandae rerum odit nemo.
        Quod labore, molestias repellat sunt vitae veniam unde, inventore
        provident, rem corporis ullam! Iste fugiat, culpa qui eius officia
        asperiores omnis ea nostrum doloremque eum, libero incidunt excepturi
        accusantium quaerat. Eos molestiae voluptatibus modi. Nesciunt minima
        unde dolore ab rerum labore ipsum facere aperiam, ut laboriosam minus
        quas dolorum aliquid inventore ipsam tempora non, sint autem pariatur
        architecto possimus! Soluta. Necessitatibus adipisci omnis veritatis!
        Porro repellat recusandae architecto, id nisi eum quidem alias quibusdam
        culpa dolor beatae et nesciunt cumque vitae odio quisquam libero minima.
        Molestiae similique fugit est deserunt? Exercitationem porro mollitia
        tempore inventore, sapiente rerum dicta aut nostrum adipisci libero
        quaerat, ullam commodi soluta pariatur natus accusamus at numquam alias
        vel? Ipsa corrupti alias minus, laboriosam non vero! Pariatur non
        reiciendis cumque, optio minima ullam ducimus facere? Sit illum modi id
        facere aut doloremque, deserunt quos exercitationem cum aperiam, a ex
        minima! Odio maxime delectus repudiandae ad est. Incidunt, cumque ipsa.
        Eius laborum, sint, quaerat obcaecati ad tenetur quidem molestias totam
        nisi blanditiis recusandae, officiis minima mollitia inventore
        temporibus dolorum laboriosam non repellat maiores et debitis quas a.
        Cumque maiores inventore, iusto quod voluptas architecto accusantium
        repellendus vero laborum enim explicabo sint velit, dignissimos
        distinctio minus id harum? Consequatur nesciunt rem alias, et ipsam
        doloribus sed explicabo dolorum! Mollitia, eveniet labore. Fugiat
        debitis dolorum inventore, ea distinctio vitae id saepe. Animi
        consectetur corrupti nesciunt! Facilis, cum? Necessitatibus accusamus
        vero, minima vitae et fugiat doloremque perspiciatis qui ad cum. Earum
        tempore fugiat architecto? Vel nobis dolore consequatur nihil nesciunt
        perspiciatis excepturi quos cupiditate vero qui laudantium asperiores
        autem, ex eveniet dolorum consequuntur itaque libero provident. Quas
        excepturi temporibus repellendus? Ipsum voluptate, sapiente quos dicta
        neque doloribus consequuntur officiis labore. Fugit molestias atque iure
        architecto odio dolore minima dolor dolores laboriosam dicta! Qui
        suscipit molestias temporibus similique necessitatibus iusto dolorem.
        Facere, nisi odio. Odit accusamus, commodi at consectetur sed deserunt
        perferendis delectus quos aliquid iusto voluptatem fuga saepe placeat
        adipisci! Consequuntur velit officiis praesentium illum aliquid
        molestiae temporibus deleniti eius. Repellat cumque at cupiditate
        voluptatum eaque iste architecto nulla ducimus tempore consequuntur
        labore, nemo est omnis quod quibusdam voluptatibus quas impedit
        necessitatibus, esse molestiae eum deserunt animi quos aliquam.
        Assumenda!
        <button (click)="montreToi(ici)"><i class="bi bi-moon"></i></button>
      </div>
    </div>
  </div>
</div>
